@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
h1{
  font-family: 'Berkshire Swash', cursive;
  text-align: center;
}

h2{
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style-type: none;
  background-color: #42f590;
  display: inline;
}

li{
  list-style-type: none;
}

a{
  color: black
}

/* The navigation bar */
.navbar {
 overflow: hidden;
 background-color: #333;
 position: fixed; /* Set the navbar to fixed position */
 top: 0; /* Position the navbar at the top of the page */
 width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
 float: left;
 display: block;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-family: 'Rubik', sans-serif;
}

.navbar a.active {
  background-color: #32a852;
  color: black;
}

.navbar a:hover {
  background-color: #32a852;
  color: black;
}

/* Change background on mouse-over */
.navbar a:hover {
 background: #ddd;
 color: black;
}

/* Main content */
.main {
 margin-top: 30px; /* Add a top margin to avoid content overlay */
}

h3 {
 font-family: 'Montserrat', sans-serif;
 color: black;
}

footer{
  position: relative;
  bottom: 0;
  width: 100%;
}

p{
  color: black
}

.footerflex{
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 200;
  color: #18DBBB;
}

h4 {
 font-family: 'Montserrat', sans-serif;
 color: black;
}
